@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
}
body {
  background: url("Assets/wallhaven-9667gk_1920x1080.png");
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}
.main-content {
  width: 300px;
  height: 496px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
}
/* utilities */
.regular-txt{
    font-weight: 400;
}
/* utilities end */

/* input start */
/* input start */
.input-container{
    position: relative;
    margin-bottom: 25px;
}
.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgb(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  padding-right: 45px;
}
.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}
.search-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* icon */

.mdi--location {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7'/%3E%3C/svg%3E");
}
/* icon end */
/* input end */
/* input end */


/* detail card start */
/* detail card start */
.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    display: flex;
    gap: 6px;
    align-items: center;
}
